<main>
  <header>
    <img
      class="picture"
      alt="Main Logo"
      width="160"
      height="115"
      src="assets/SpiritGhostsLogo.gif"
    />
    <h1 class="headertext">Welcome to JmzParis</h1>
  </header>
  <nav>
    <section>
      <header>
        <h2>Game</h2>
      </header>
      <section>
        <article>
          <a class="card" href="/memory">
            <img
              class="picture"
              alt="Memory logo"
              src="assets/img/CardVerso.png"
            />
            <section class="description">
              <p><b>Memory: </b>A game to train your visual memory.</p>
            </section>
          </a>
        </article>
      </section>
    </section>
    <section>
      <header>
        <h2>Animations</h2>
      </header>
      <section>
        <article>
          <a class="card" href="animations/spiral">
            <img
              class="picture"
              alt="Spiral logo"
              src="assets/img/anim/GoldenSpiralFlower.png"
            />
            <section class="description">
              <p>
                <b>Spiral: </b>Flower of petal spead using the Golden ratio.
              </p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/doublespiral">
            <img
              class="picture"
              alt="DoubleSpiral logo"
              src="assets/img/anim/DoubleSpiral.png"
            />
            <section class="description">
              <p>
                <b>Double Spiral: </b>Two Golden ratio flowers side by side.
              </p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/scroll">
            <img
              class="picture"
              alt="Scroll logo"
              src="assets/img/anim/Scroll.png"
            />
            <section class="description">
              <p>
                <b>Scroll: </b>Semi transparent panel scrolling on top of each
                other.
              </p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/orbit">
            <img
              class="picture"
              alt="Orbit logo"
              src="assets/img/anim/Orbit.png"
            />
            <section class="description">
              <p><b>Orbit: </b>Many bodies attracted by each orther.</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/swarm">
            <img
              class="picture"
              alt="Swarm logo"
              src="assets/img/anim/Swarm.png"
            />
            <section class="description">
              <p>
                <b>Swarm: </b>Pool of marble attacted by colors but repulsing if
                too closed.
              </p>
            </section>
          </a>
        </article>

        <article>
          <a class="card" href="animations/skin">
            <img
              class="picture"
              alt="Skin logo"
              src="assets/img/anim/Skin.png"
            />
            <section class="description">
              <p><b>Skin: </b>Simulation of skin cell grow.</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/hexagon">
            <img
              class="picture"
              alt="Hexagons logo"
              src="assets/img/anim/Hexagon.png"
            />
            <section class="description">
              <p><b>Hexagons: </b>3D hegagons using tree.js</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/tube">
            <img
              class="picture"
              alt="Tube logo"
              src="assets/img/anim/Tube.png"
            />
            <section class="description">
              <p><b>Tube: </b>3D curved tube using tree.js</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/torus">
            <img
              class="picture"
              alt="Torus logo"
              src="assets/img/anim/Torus.png"
            />
            <section class="description">
              <p><b>Torus: </b>Torus shape with tube using tree.js</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/orbit3d">
            <img
              class="picture"
              alt="Orbit3d logo"
              src="assets/img/anim/Orbit3d.png"
            />
            <section class="description">
              <p>
                <b>Orbit3d: </b>Suns and planets orbiting each other using
                tree.js
              </p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/swarm3d">
            <img class="picture" alt="Orbit3d logo" src="" />
            <section class="description">
              <p><b>Swarm3d: </b>Still in building...</p>
            </section>
          </a>
        </article>
      </section>
    </section>
  </nav>
</main>
