<main>
  <nav>
    <section>
      <header>
        <img
          class="picture"
          alt="Main Logo"
          width="160"
          height="115"
          src="assets/SpiritGhostsLogo.gif"
        />
        <h1 class="headertext">Welcome to JmzParis</h1>
      </header>
    </section>
    <section>
      <header>
        <h2>Game</h2>
      </header>
      <section>
        <article>
          <a class="card" href="/memory">
            <img
              class="picture"
              alt="Memory logo"
              width="50"
              height="50"
              src="assets/img/CardVerso.png"
            />
            <section class="description">
              <h3>Memory</h3>
              <p>A game to train your visual memory skills.</p>
            </section>
          </a>
        </article>
      </section>
    </section>
    <section>
      <header>
        <h2>Animations</h2>
      </header>
      <section>
        <article>
          <a class="card" href="animations/spiral">
            <img
              class="picture"
              alt="Spiral logo"
              width="50"
              height="50"
              src="assets/img/anim/GoldenSpiralFlower.png"
            />
            <section class="description">
              <h3>Spiral</h3>
              <p>Flower of petal spead using the Golden ratio.</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/doublespiral">
            <img
              class="picture"
              alt="DoubleSpiral logo"
              width="50"
              height="50"
              src="assets/img/anim/DoubleSpiral.png"
            />
            <section class="description">
              <h3>Double Spiral</h3>
              <p>Two Golden ratio flowers side by side.</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/scroll">
            <img
              class="picture"
              alt="Scroll logo"
              width="50"
              height="50"
              src="assets/img/anim/Scroll.png"
            />
            <section class="description">
              <h3>Scroll</h3>
              <p>Semi transparent panel scrolling on top of each other.</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/orbit">
            <img
              class="picture"
              alt="Orbit logo"
              width="50"
              height="50"
              src="assets/img/anim/Orbit.png"
            />
            <section class="description">
              <h3>Orbit</h3>
              <p>Many bodies attracted by each orther.</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/swarm">
            <img
              class="picture"
              alt="Swarm logo"
              width="50"
              height="50"
              src="assets/img/anim/Swarm.png"
            />
            <section class="description">
              <h3>Swarm</h3>
              <p>
                Pool of marble attacted by colors but repulsing if too closed.
              </p>
            </section>
          </a>
        </article>

        <article>
          <a class="card" href="animations/skin">
            <img
              class="picture"
              alt="Skin logo"
              width="50"
              height="50"
              src="assets/img/anim/Skin.png"
            />
            <section class="description">
              <h3>Skin</h3>
              <p>Simulation of skin cell grow.</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/hexagon">
            <img
              class="picture"
              alt="Hexagons logo"
              width="50"
              height="50"
              src="assets/img/anim/Hexagon.png"
            />
            <section class="description">
              <h3>Hexagons</h3>
              <p>3D hegagons using tree.js</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/tube">
            <img
              class="picture"
              alt="Tube logo"
              width="50"
              height="50"
              src="assets/img/anim/Tube.png"
            />
            <section class="description">
              <h3>Tube</h3>
              <p>3D curved tube using tree.js</p>
            </section>
          </a>
        </article>
        <article>
          <a class="card" href="animations/torus">
            <img
              class="picture"
              alt="Torus logo"
              width="50"
              height="50"
              src="assets/img/anim/Torus.png"
            />
            <section class="description">
              <h3>Torus</h3>
              <p>Torus shape with tube using tree.js</p>
            </section>
          </a>
        </article>
      </section>
    </section>
  </nav>
</main>
